### Welcome to python
- use hyphen to make bullet
- Inserting a cell. After that press esc+a to repeat operation

In [1]:
10 * 'str'

'strstrstrstrstrstrstrstrstrstr'

## type used to check datatype of item

In [2]:
type(2)

int

In [3]:
type(2.0)

float

In [4]:
type(False)

bool

In [8]:
a=5
b=10
print(a*b)
print(a**b)
print((a+b)/(a-b))

50
9765625
-3.0

# Use shift tab before bracket to know more info about in built function usage

## Formatting strings

#### format (value,specification) method returns a representation of a value according to a specification

In [43]:
format(45, 'f')
#Here 45 is the value. f means float is the kind of specification asked. format() returns 45 in a floating point

'45.000000'

In [9]:
first_name = "Yash"
last_name = "Agrawal"

In [10]:
print("My first name is {} and last name is {}".format("Yash","Agrawal"))

My first name is Yash and last name is Agrawal

In [11]:
print("My first name is {} and last name is {}".format(1,2))

My first name is 1 and last name is 2

In [12]:
print("My first name is {} and last name is {}".format("Agrawal","Yash"))

My first name is Agrawal and last name is Yash

### As seen above, there is no way to mention the order. So to do that we use variables as placeholders

In [17]:
print("My first name is {placeholder1} and last name is {variable2}".format(variable2 = "Agrawal", placeholder1 ="Yash"))

My first name is Yash and last name is Agrawal

### as seen above even if you have placed the 2nd item first it would still be printed at right place since you used placeholder names

In [20]:
print("I can speak {number:7d} languages".format(number=4))

I can speak       4 languages

## In above example you can give datatype of item.
d - double
f - float
i - integer

In [26]:
print("I can speak {:f} languages".format(4))

I can speak 4.000000 languages

In [38]:
print("My weight is {:f} and i speak {:7d} languages".format(95,4))

My weight is 95.000000 and i speak       4 languages

In [40]:
print("My weight is {num1:f} and i speak {num2:7f} languages".format(num2=4, num1 = 95))

My weight is 95.000000 and i speak 4.000000 languages

# Python datatypes

# Bool

In [47]:
bool(True)

True

In [50]:
bool()
#Returns true when argument is True else returns False

False

In [119]:
True or False

True

In [120]:
True and False

False

# Strings

### In buit methods of string
https://www.w3schools.com/python/python_ref_string.asp

In [51]:
str = "Yash123"

In [72]:
str.find(str, 'a')

TypeError: slice indices must be integers or None or have an __index__ method

### Cases - 
- capitalize() - first charachter to uppercase
- casefold() = whole string to lowercase
- lower() - converts string to lowercase
- upper()
- islower() - True if all characters are lower cased
- isupper() - True if all characters are upper cased
- istitle() - True if string is title case
- swapcase() - 
- title() - makes title cased

### Position - 
- center() - returns centered string
- ljust() - returns left justified version of string
- rjust() - returns right justified version of string
- endswith() - True if string ends with specified value
- startswith()
- find() - searches a specific value in the string and returns position of where it was found
- rfind() - searches for a specific value in string and returns last position of where it was found
- rindex() - same as rfind and diff bw find and index also apply here
- index() - same as find() except it returns exception if value not found in string unlike find which returns -1
- strip() - trimmed version of string
- lstrip() - returns left trim version of string
- rstrip() - returns right trim version of string



### Alpha/digits
- isalnum() - True if string contains both alpha+num
- isalpha() - True if all characters are alphabets only
- isascii() - True if all characters in string are ascii char
- isdecimal() - True if all characters are digits (0-9) in unicode 
- isdigit() -  True if all characters are digits
- isnumeric() -True if all characters are numeric 
#### is numeric can accept fractions,exponents,roman numerals if they are given in unicode whereas isdigit gives false for these characters. Both of em give false for whitespaces and dots though

- isidentifier() - True id string is an identifier
##### A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.
- isspace() - True if all characters are whitespaces



### Count - 
- count(value,start,end) - returns number of times a value came in a string
 

### Miscellaneous -
- expandtabs() - sets tab size of string
- format() - formats given value according to given specification
- format_map() - same as format
- join() - converts elements of iterable into string ->very useful for converting a list to string
- maketrans() - returns a translation table to be used in translations
- partition() - returns a tuple where string is partitioned into 3 parts
- replace() - returns string where specified value is replaced by a specified value
- split() - splits string at specified operator and returns a list
- splitlines() - split string at line breaks and returns a list
- translate() - returns translated string
- zfill () - fills string with specified number of 0 values at beginning until it reaches given length
- encode() - returns encoded value of string. Uses UTF 8 unless specific encoding is given

## center(length,character)
### returns new string with total length as length and center aligns the text in that length. If character is given, it fills the spaces with that character else default is space

In [68]:
x = 'cricket'
print(x.center(20)) # total length of string is 20 and cricket is at center
print(x.center(20,'$')) #left and right spaces were replaced by given character

      cricket
$$$$$$cricket$$$$$$$

In [84]:
print(x.ljust(20))
#cricket justified to left and total length of string is 20
print(len(x.ljust(20)))

cricket
20

# find (value to be searched, start,end)
### optionally you can specify start and end of the search
## finds for beginning of a specific word and returns position of starting alphabet of the word in the string
## returns -1 if not found

# Index is same as find except it returns an exception if value not find

In [75]:
txt = "Hello World"
print(txt.find('o'))
print(txt.find('q'))

4
-1

In [76]:
txt.index('q')

ValueError: substring not found

In [82]:
print(txt.find('l'))
print(txt.rfind('l'))
# There is no lfind method

2
9

In [91]:
print(len(('     cricket   '.strip())))
print((('     cricket   '.lstrip())))
print(len(('     cricket   '.lstrip())))

7
cricket
10

### expand tabs
### It sets the value of \t whether it should be 1 space, 2 space etc

In [94]:
'h\te\tl\tl\to'.expandtabs(5)
# 5 spaces are given everywhere backslash was used

'h    e    l    l    o'

### join
#### syntax - string.join(iterable)
### join is used to join parts of iterable can be a list or tuple into one string. The string which was passed will be used as as a separator to join

# BEST THING TO MAKE A TUPLE/LIST/dictionary INTO A STRING

In [96]:
'#'.join(["cricket","is","love"])

'cricket#is#love'

In [97]:
''.join(("ai","and","ml"))

'aiandml'

In [98]:
' '.join(("ai","and","ml"))

'ai and ml'

### if you want to make a dict into string, join will make the keys into strings and not values of dictionary

In [99]:
dict = {'one':'abc','two':'def'}
'#'.join(dict)

'one#two'

## partition - returns tuple with 3 partions made - before that word searched, the word searched, after the word searched

In [70]:
str = " This is a wonderful code"
str.partition('a')

(' This is ', 'a', ' wonderful code')

## replace - replaces all occurences of old to new. You can 

### syntax - string.replace(old,new,count)
By default count is -1 which means all occurences. You can change it to any number of changes you want

In [102]:
str = "this is a wonderful code"
print(str.replace('d','e'))
print(str.replace('d','e',1))

this is a woneerful coee
this is a woneerful code

## split - splits a string into a list where each word is a list item
### string.split(separator,maxsplit)
#### maxsplit means the number of splits to do

In [106]:
str = "This is a wonderful piece of code"
print(str.split())
print(str.split('a'))

['This', 'is', 'a', 'wonderful', 'piece', 'of', 'code']
['This is ', ' wonderful piece of code']

In [107]:
str = "apples#red#bananas#yellow"
print(str.split('#',1))
# 1 here means make 1 split

['apples', 'red#bananas#yellow']

In [110]:
str = "This is line1\nthis is line 2"
str.splitlines()

['This is line1', 'this is line 2']

In [111]:
str ="55"
str.zfill(10)

'0000000055'

# Lists

### Defining empty lists

In [127]:
listname = []

In [130]:
len(['abc',1,2,3])

4

### Slicing lists

In [131]:
list = ['Big data','AI','Stats',1,2,3]

In [132]:
list[:]

['Big data', 'AI', 'Stats', 1, 2, 3]

# Indexing starts from zero

In [133]:
list[2]

'Stats'

In [134]:
list[:3]

['Big data', 'AI', 'Stats']

In [135]:
list[1:]

['AI', 'Stats', 1, 2, 3]

In [138]:
print(list[:-1]) #everything except last
print(list[:-3]) #everything except 3rd last

['Big data', 'AI', 'Stats', 1, 2]
['Big data', 'AI', 'Stats']

## List methods

 - append() - appends to end of list
 - clear() - removes all elements of list and makes it empty
 - copy() - returns a copy of list
 - count(value) - tells how many times value came in list
 - l1.extend(iterable) - add all items of iterable (list/tuple) to end of l1 
 
 #### extend always adds elements of iterable individually
 
 
 - index(value,start,end) - gives first position of value in list
 - insert(index,value) - add at specific index the value
 - pop(index) - pop element from index
 
 ### if no index given in pop, it removes last index element

 
 - remove(itemname) - remove first occurence of itemname from list
 - reverse() - reverses order of list
 
 ### if you want to remove by index use pop, remove by value use remove
 
 
 - sort(reverse=True|False,key = functionname)
 
 #### Default is reverse = False which is ascending, reverse=True is descending
 #### you can use any function while performing sorting. Like sort list by length of elements of list

In [141]:
l1 = ['bmw','ferrari']
t1=('jaguar','rangerover')
l1.extend(t1)
print(l1)

['bmw', 'ferrari', 'jaguar', 'rangerover']

In [142]:
l1.index('jaguar')

2

In [145]:
l1.insert(1,'mahindra')
l1

['bmw', 'mahindra', 'ferrari', 'jaguar', 'rangerover']

In [146]:
l1.insert(0,'Hyundai')
l1

['Hyundai', 'bmw', 'mahindra', 'ferrari', 'jaguar', 'rangerover']

In [147]:
l1.pop(1)
l1

['Hyundai', 'mahindra', 'ferrari', 'jaguar', 'rangerover']

In [148]:
l1.remove('Hyundai')
l1

['mahindra', 'ferrari', 'jaguar', 'rangerover']

### Below is using key in sorting method - sort in ascending order via length of elements of list

In [151]:
def lengthcalc(e):
    return len(e)
l1.sort(key=lengthcalc)
l1

['jaguar', 'ferrari', 'mahindra', 'rangerover']

### You can also sort keys of a dictionary

# Sets

## Sets are unordered collection of data, mutable. Only thing is items cant be repeated in sets

#### sets are represented using {} curly braces

In [1]:
set = set()

In [15]:
set = {'mahindra','tata','mercedes'}
type(set)

set

In [6]:
set

{'mahindra', 'mercedes', 'tata'}

#### sets cannot be indexed. You cant slice them
#### To retrieve set  items you either need to convert them to list - list(setname) or you use next() and interator methods

In [7]:
set.add('toyota')

In [10]:
set1 = set
set2 ={'toyota','kia','volkswagen'}
set1.difference(set2)

{'mahindra', 'mercedes', 'tata'}

### set1 still remains same until you use difference_update

### same concept with intersection_update

# Dictionaries

### dictionaries are unordered collection, can be indexed, are represented in form of key value pairs

### Both sets and dictionaries are represented by {}. But the kind of data they both hold are different. Sets hold unique elements separated by commas but dict. uses key value pairs

In [20]:
dict1 = {'a':1,'b':2}
dict1

{'a': 1, 'b': 2}

In [22]:
## Access items based on keys
dict['a']

1

In [24]:
#print dictionary keys
for x in dict1:
    print(x)

a
b

In [26]:
# print dictionary values
for x in dict1.values():
    print(x)

1
2

#### use dictionary.items() to get both key and value.

In [30]:
#print dictionary keys and values
for x in dict1.items():
    print(x,type(x))
#returns tuple of key value pair

('a', 1) <class 'tuple'>
('b', 2) <class 'tuple'>
('c', 3) <class 'tuple'>

In [28]:
#adding new key value pair
dict1['c'] = 3

In [29]:
dict1

{'a': 1, 'b': 2, 'c': 3}

In [32]:
dict1['c'] = 4
#old value gets overridden

In [33]:
dict1

{'a': 1, 'b': 2, 'c': 4}

## Nested dictionary

In [34]:
dict2 = {'d':5,'e':6}
dict = {'var1':dict1,'var2':dict2}
dict

{'var1': {'a': 1, 'b': 2, 'c': 4}, 'var2': {'d': 5, 'e': 6}}

In [36]:
#indexing a nested dictionary
dict['var1']['b']

2

### Dictionary methods

- clear() - removes all elements of dictionary, returns empty dictionary
- copy() - returns a copy of dictionary
- fromkeys(iterable,value) - Creates a dictionary using iterable as key and value as given. If no values are given for the keys, it takes None

#### fromkeys assigns same value for all keys

- get(key,defaultvalue) - used to get value of the given key. If the key doesnt exist, defaultvalue can be printed. If you dont give a default value then it returns a None datatype

- setdeafult(keyname,defaultvalue) - same as get, it fetches value of gievn keyname. But unlike get if key not found not only it shows default value in output console but it adds a new key value pair with the passed keyname , default value

- items() - returns a tuple of all key value pairs
- keys() - returns a view object containing keys
- values() - returns a list of values of dictionary
- pop(key, defaultvalue) - removes key value pair for given key. Prints default value if key doesnt exist
- popitem() - removes last inserted item
- update({'key':'value'}) - inserts passed key value pairs to dictionary. it takes a dictionary of key value pair as input

In [42]:
#fromkeys
iterable = ['ai','ml','databases']
values = [1,2,3]
dict_var= dict.fromkeys(iterable,values)
dict_var

{'ai': [1, 2, 3], 'ml': [1, 2, 3], 'databases': [1, 2, 3]}

In [39]:
dict_var = dict.fromkeys(['ai','ml','ai'])
dict_var

{'ai': None, 'ml': None}

In [45]:
#get
print(dict_var.get('ai'))
print(dict_var.get('cse')) #no cse key
print(dict_var.get('cse',5)) # 5 given as default value if cse doesnt exist

[1, 2, 3]
None
5

In [47]:
type(dict_var.keys())

dict_keys

In [52]:
print(dict_var.pop('python',5))
#if you dont give default value it throws error

5

In [53]:
#popitem
dict_var.popitem()
#databases popped

('databases', [1, 2, 3])

In [54]:
dict_var

{'ai': [1, 2, 3], 'ml': [1, 2, 3]}

In [56]:
#set_default
dict_var.setdefault('databases',4)
dict_var
#since databases was not a present key, it added the passed key value pair

{'ai': [1, 2, 3], 'ml': [1, 2, 3], 'databases': 4}

In [59]:
#update
dict_var.update({'cloud':5})
dict_var

{'ai': [1, 2, 3], 'ml': [1, 2, 3], 'databases': 4, 'cloud': 5}

# Tuples

## Tuples are immutable collection of items. Items can be strings, lists etc

In [62]:
tuple_var = ('ai',1)
tuple_var

('ai', 1)

In [63]:
tuple_var[0]

'ai'

In [64]:
tuple_var[0]= 'cloud'
#Tuples are immutable

TypeError: 'tuple' object does not support item assignment

### Try to use tuples to store data which doesn't change frequently - like latitude and longitude of your home

### Tuple only has 2 methods:
- count() - used to give count of a given value
- index() - gives positional in/dex of a value

In [69]:
print(tuple_var.count(1))
print(tuple_var.index(1))

1
1